<%- include('./partials/head.ejs') %> 
<body>
<%- include('./partials/header.ejs') %>

<main>
    <picture>
        <img class= "fondowhisky" src="/images/red.jpg">
    </picture>
</main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>